* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'VT323', monospace;
}

body {
    background: rgb(0, 128, 128);
    min-width: 100%;
    padding: 10px 20px;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 1500px;
    gap: 20px;
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    main {
        align-items: center;
    }
}