header {
    width: 100%;
}

header h1 {
    margin: 0 5px;
    font-weight: 500;
    font-size: 3rem;
    line-height: 3rem;
    color: black
}

.header-window {
    background-color: white;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
    padding: 3px;
    width: 100%;
}

header h1 span {
    color: rgb(187, 95, 95);
}